version: 2.1

defaults: &defaults

aliases:
  - &l3build
    run:
      name: l3build install
      command: |
        if [ -z ${SAVED_PATH+x} ]; then :; else
          export PATH=$SAVED_PATH
        fi
        cd spectralsequences
        l3build install

jobs:
  test-examples:
    parameters:
      image:
        description: Which docker image should we use?
        type: string
      year:
        description: Ignored
        type: integer
        default: 0
    working_directory: ~/repo
    docker:
      - image: << parameters.image >>

    steps:
      - checkout
      - *l3build

      - run:
          name: test examples
          command: |
            cd spectralsequences
            ./compile_examples.sh

      - store_artifacts:
          path: /root/repo/spectralsequences/examples_output


  build-manual:
    parameters:
      image:
        description: Which docker image should we use?
        type: string
      year:
        description: Ignored
        type: integer
        default: 0
    working_directory: ~/repo
    docker:
      - image: << parameters.image >>

    steps:
      - checkout
      - *l3build
      - run:
          name: build manual
          command: |
              cd spectralsequences/manual
              pdflatex spectralsequencesmanual.tex

      - store_artifacts:
          path: /root/repo/spectralsequences/manual/spectralsequencesmanual.pdf

  test-regrtest:
    parameters:
      image:
        description: Which docker image should we use?
        type: string
      year:
        description: Ignored
        type: integer
        default: 0
    working_directory: ~/repo
    docker:
      - image: << parameters.image >>

    steps:
      - checkout
      - run:
          name: l3build check
          command: |
            cd spectralsequences
            if [ -z ${SAVED_PATH+x} ]; then :; else
              export PATH=$SAVED_PATH
            fi
            export diffexe="git diff --no-index --color"
            l3build check -e pdftex test parsers range-check styles \
              || (cat build/test/*.diff && false)
      - store_artifacts:
          path : /root/repo/spectralsequences/build/test

  build-dist:
    working_directory: ~/repo
    docker:
      - image: texlive/texlive:latest

    steps:
      - checkout
      - *l3build
      - run:
          name: make_files
          command: |
            cd spectralsequences/manual
            latexmk -pdf spectralsequencesmanual.tex
            cd ..
            ./compile_examples.sh
            cp examples_output/*.pdf examples
            rm -rf examples_output
      - run:
          name: zip files
          command: |
            apt update
            apt install zip
            find spectralsequences -regextype egrep -regex ".*\.sty|.*\.tex|.*\.md|.*\.pdf" | zip spectralsequences.zip --quiet -@
      - store_artifacts:
          path : /root/repo/spectralsequences.zip



workflows:
  workflow:
    jobs:
      - test-examples:
          matrix:
            parameters:
              year: [2016, 2017, 2018, 2019, 2020, 2021]
          image: hoodmane/spectralsequences-tl<<matrix.year>>:1
      - test-examples:
          name: test-examples-latest
          image: texlive/texlive:latest


      - test-regrtest:
          matrix:
            parameters:
              year: [2016, 2017, 2018, 2019, 2020, 2021]
          image: hoodmane/spectralsequences-tl<<matrix.year>>:1
      - test-regrtest:
          name: test-regrtest-latest
          image: texlive/texlive:latest

      - build-manual:
          matrix:
            parameters:
              year: [2016, 2017, 2018, 2019, 2020, 2021]
          image: hoodmane/spectralsequences-tl<<matrix.year>>:1
      - build-manual:
          name: build-manual-latest
          image: texlive/texlive:latest
      - build-dist

  texlive-latest:
    triggers:
      - schedule:
          cron: "37 15 * * 6"
          filters:
            branches:
              only:
                - master
    jobs:
      - test-examples:
          name: test-examples-latest
          image: texlive/texlive:latest
      - test-regrtest:
          name: test-regrtest-latest
          image: texlive/texlive:latest
      - build-manual:
          name: build-manual-latest
          image: texlive/texlive:latest
